<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parâmetros Bissecção</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <a href="/" class="button">Voltar</a>
        <h1>Método da Bissecção</h1>
        
        <form method="POST">
            <label for="funcao">Função f(x):</label>
            <input type="text" id="funcao" name="funcao" value="{{ request.form['funcao'] if request.method == 'POST' else '' }}" required>
            {% if avaliacaoFuncao is not none %}
                <erro>{{ avaliacaoFuncao }}</erro>
            {% endif %}
            <informacoes>
                <div class="texto" id="caixaTexto">
                <p>
                    Os valores devem ser números reais. Letras além de x não são aceitas para a função.
                </p>
                <pre class="texto-escondido">
Funções suportadas: 
Seno de x: sin(x)
Logaritmo neperiano de x: log(x) 
Coseno de x: cos(x) 
Logaritmo na base 10 de x: log10(x) 
Tangente de x: tan(x)
Modulo de x: abs(x)
Arco Seno de x: arcsin(x) 
Arco Tangente de x: arctan(x) 
Raiz Quadrada: sqrt(x)
Exponencial de x: exp(x) 
Fatorial de x: factorial(x)
Operadores: 
+ (soma); 
- (subtração); 
* (multiplicação); 
/ (divisão); 
** (potenciação); 
Constante: pi (3.14159...), e (2.71828...)
Outras Funções: sinh, cosh, tanh, arcsinh, arccosh, arctanh, power, float_power, min, max, trunc, 
                round, arccos, rad2deg, deg2rad, random
                </pre>
            </div>
            <span class="expandir-btn" id="botaoExpandir">Mais detalhes</span>
        
            <script>
                document.getElementById("botaoExpandir").onclick = function () {
                    const caixaTexto = document.getElementById("caixaTexto");
                    const botao = document.getElementById("botaoExpandir");
                    
                    if (caixaTexto.classList.toggle("expanso")) {
                        botao.textContent = "Menos detalhes";
                    } else {
                        botao.textContent = "Mais detalhes";
                    }
                };
            </script>
            </informacoes>
        
            <script>
                document.getElementById("botaoExpandir").onclick = function () {
                    const caixaTexto = document.getElementById("caixaTexto");
                    const botao = document.getElementById("botaoExpandir");
                    
                    if (caixaTexto.classList.toggle("expanso")) {
                        botao.textContent = "Menos detalhes";
                    } else {
                        botao.textContent = "Mais detalhes";
                    }
                };
            </script>

            <label for="TOL">Tolerância (TOL):</label>
            <input type="text" id="TOL" name="TOL" value="{{ request.form['TOL'] if request.method == 'POST' and request.form['TOL'] else '' }}" placeholder="Valor padrão: 0.0001">
            {% if avaliarFloatTOL is not none %}
                <erro>{{ avaliarFloatTOL }}</erro>
            {% endif %}

            <h3>Intervalo</h3>

            <label for="limite_inferior">Limite Inferior do Intervalo:</label>
            <input type="text" id="limite_inferior" name="limite_inferior" value="{{ request.form['limite_inferior'] if request.method == 'POST' else '' }}" required>
            {% if avaliarFloatLimInferior is not none %}
                <erro>{{ avaliarFloatLimInferior }}</erro>
            {% endif %}
            
            <label for="limite_superior">Limite Superior do Intervalo:</label>
            <input type="text" id="limite_superior" name="limite_superior" value="{{ request.form['limite_superior'] if request.method == 'POST' else '' }}" required>
            {% if avaliarFloatLimSuperior is not none %}
                <erro>{{ avaliarFloatLimSuperior }}</erro>
            {% endif %}
            
            <button type="submit">Calcular</button>
        </form>
        
        <br>
        {% if limite_inferior is not none %}
        <h3>Parâmetros Recebidos:</h3>
        <p>Limite Inferior: {{ limite_inferior }}</p>
        <p>Limite Superior: {{ limite_superior }}</p>
        <h3>Resultado</h3>
        <p>X: {{ x }}</p>
        <p>Iterações: {{ bisseccoes|length }}</p>
        <p>Erro absoluto: {{ erroAbsoluto }}</p>
        <table>
            <thead>
                <th>#</th>
                <th>a</th>
                <th>m</th>
                <th>b</th>
            </thead>
            {% for bisseccao in bisseccoes %}
            <tbody>
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ bisseccao[0] }} ({{ bisseccao[1] }})</td>
                    <td>{{ bisseccao[2] }} ({{ bisseccao[3] }})</td>
                    <td>{{ bisseccao[4] }} ({{ bisseccao[5] }})</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</body>
</html>
